:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-montserrat: "Montserrat", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --light-gray: #818a99;
  --dark-gray: #222222;
  --light: #ffffff;
  --dark: #000000;
  --primary: #fbc02c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
