.pricing {
  margin-top: 6rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: var(--primary, #fbc02c);
}
.serviceList{
    list-style-type:none;
    padding: 0 .5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 400;

}
.serviceItem{
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.serviceDescription{
}
.serviceIcon{
    font-size: 1.5rem;
    color: var(--light, #ffffff);
}
