.services{
    margin-top: 6rem;
    padding: 0 .5rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.title{
    color: var(--primary, #fbc02c);
}
.description{
    font-size: 1.125rem;
}
.serviceList{
    list-style-type:none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.serviceItem{
    color: var(--primary, #fbc02c);
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.serviceDescription{
    text-decoration: underline;
}
.serviceIcon{
    font-size: 1.5rem;
    color: var(--light, #ffffff);
}
.button{
    color: var(--light, #ffffff);
  background-color: transparent;
  border-radius: 100rem;
  font-size: 1.125rem;
  padding: 1rem 3rem;
  width: fit-content;
  border: 1px solid var(--primary, #fbc02c);
  transition: border 0.3s ease;
  cursor: pointer;
}
.button:hover {
  border: 1px solid var(--light, #ffffff);
}
.figure {
    margin: 3rem 0 0 0;
}
.image{
    border-radius: 1rem;
    width: 100%;
    height: auto;
}
.caption {
    text-align: center;
    margin-top: .5rem;
}