
.about{
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.images {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
}
@media screen and (min-width: 800px) {
    .about {
        margin-top: 7rem;
        padding-inline: 2rem;
        flex-direction: row;
        gap: 4rem;
    }
    .content {
        width: 40%;
        flex-grow: 1;
    }
    .images {
        width: 60%;
        flex-direction: row;
        flex-grow: 1;
    }
    .images > *{
        width: 40%;
        flex-grow: 1;
    }
    .images > *:last-child{
        padding-top: 4rem;
    }
}