.header{
    display: flex;
    background-color: var(--dark-gray, #222222);
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.title{
    font-size: 1rem;
    max-width: 220px;
    font-weight: 600;
}
.hamburger{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.line{
    height: 2px;
    width: 20px;
    background-color: white;
    border-radius: 1px;
}