.hero {
  padding: 2rem 1rem;
  padding-bottom: 4rem;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://f3be96abaf.clvaw-cdnwnd.com/5a350eb63bf4ac83e4b528bf9ebebca6/200000034-5d5f25d5f3/IMG-20241210-WA0005.webp?ph=f3be96abaf);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: var(--primary, #fbc02c);
}
