.onas {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-size: clamp(2.1875rem, 1.75rem + 2.27vw, 3.4375rem);
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--primary);
  padding-top: 4rem;
}
.content {
  text-align: start;
  margin-top: 3rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.image {
  border-radius: 1rem;
  margin-block: 2rem;
  width: 100%;
  height: auto;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 800px) {
  .content {
    padding-inline: 2rem;
  }

  .flexRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .historyRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-bottom: 8rem;
    margin-top: 8rem;
  }

  .historyRow:last-child .image {
    margin-block: 0;
    height: 100%;
    min-height: 350px;
    object-fit: cover;
    width: 100%;
  }

  .historyContent .image {
    max-height: 400px;
  }

  .imageContainer p {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
