.pricing {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.serviceList{
    list-style-type:none;
    padding: 0 .5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 400;

}
.serviceItem{
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.serviceDescription{
}
.serviceIcon{
    font-size: 1.5rem;
    color: var(--light, #ffffff);
}
.content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 800px) {
  .pricing {
    flex-direction: row;
    gap: 4rem;
  }
  .serviceList {
    flex-grow: 1;
  }
  .content {
    width: 80%;
    flex-grow: 1;
  }
  .image {
    width: 30%;
    flex-grow: 1;
  }
  .pricing{
    padding-inline: 2rem;
  }
}