.review{
    text-align: center;
    margin-top: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    color: var(--primary, #fbc02c);
    font-size: 1.4rem;
}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 3rem;
    padding-inline: .5rem;
}
.figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.blockquote{
    margin-top: .5rem;
}
@media screen and (min-width: 600px) {
    .review {
        margin-top: 5rem;
        padding-inline: 1rem;
    }
    .content {
        flex-direction: row;
    }
    .figure {
        width: 30%;
        flex-grow: 1;
    }
}
