.review{
    text-align: center;
    margin-top: 2rem;
}
.title{
    color: var(--primary, #fbc02c);
    font-size: 1.4rem;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-inline: .5rem;
}
.figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.blockquote{
    margin-top: .5rem;
}