.services {
  padding: 0 0.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 6rem;
}

.serviceList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.serviceItem {
  color: var(--primary, #fbc02c);
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.serviceDescription {
  text-decoration: underline;
}
.serviceIcon {
  font-size: 1.5rem;
  color: var(--light, #ffffff);
}
.images {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 3rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 800px) {
  .services {
    padding: 0 1rem;
    flex-direction: row;
    padding-inline: 2rem;
    gap: 4rem;
  }
  .images {
    width: 60%;
    flex-direction: row;
    flex-grow: 1;
  }
  .content {
    width: 40%;
    flex-grow: 1;
  }
  .images {
    width: 60%;
    flex-direction: row;
    flex-grow: 1;
  }
  .images > * {
    width: 40%;
    flex-grow: 1;
  }
  .images > *:first-child {
    padding-top: 4rem;
  }
}
