.services {
  padding-inline: 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  color: var(--primary, #fbc02c);
  font-size: clamp(2.1875rem, 1.75rem + 2.27vw, 3.4375rem);
  font-weight: bold;
  margin-bottom: 1rem;
  padding-top: 2rem;
}
.image {
  border-radius: 1rem;
}
.cardContainer {
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 600px) {
  .cardContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .card {
    flex: 1 1 calc(33.333% - 2rem);
  }
  .services{
    padding-inline: 1rem;
  }
}
